.odin-recipes {
    color:rgb(243, 162, 173);
}

.directory {
    color: white;
    background-color: rgb(243, 162, 173);
}

p {
    color: #707070;
}

.kimchi.title {
    background-color: rgb(182, 63, 16);
    color: white;
}

.kimchi.subheader {
    color: rgb(182, 63, 16);
}

.kimchi.mini {
    color:rgb(219, 75, 8);
}

.dango.title {
    background-color:rgb(88, 38, 9);
    color:white;
}

.dango.subheader {
    color: rgb(88, 38, 9);
}

.dango.mini {
    color:rgb(202, 119, 70);
}

.boba.title {
    color: white;
    background-color:rgb(170, 104, 50)
}

.boba.subheader {
    color:rgb(170, 104, 50);
}

.boba.mini {
    color:rgb(214, 160, 126);
}

div {
    text-align: center;
}